body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #8b0000, #d70000, #ff4d4d);
    min-height:100vh;
    color:#333;
}

header{
    background:rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    color:white;
    text-align:center;
    padding:40px;
    font-size:24px;
}

.container{
    width:85%;
    max-width:1000px;
    margin:40px auto;
    background:rgba(255,255,255,0.95);
    padding:35px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    margin:0;
}

h2{
    color:#d70000;
    border-bottom:3px solid #d70000;
    padding-bottom:10px;
}

p{
    font-size:18px;
    line-height:1.9;
    text-align:justify;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:15px 35px;
    background:linear-gradient(45deg,#d70000,#ff3333);
    color:white;
    text-decoration:none;
    border-radius:50px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(215,0,0,0.4);
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(215,0,0,0.6);
}

footer{
    text-align:center;
    padding:20px;
    color:white;
}
